.homwClassesWrap h5 {
  font-size: 23px;
  text-transform: uppercase;
}
.homwClassesWrap h1 {
  font-size: 45px;
  padding-bottom: 15px;
}
.singleClassWrap h5 {
  padding-top: 40px;
}
.singleClassWrap p {
  font-size: 18px;
}
